*{
    margin:0;
    padding:0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    
}
:root{
    --text-color:rgb(13, 9, 9);
    --main-color:green;
}
section{
    padding:50px 10px;
}
header{
    position:fixed;
    text-decoration: none;
    width:100%;
    top:0;
    right:0;
    z-index:1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    background: rgb(232, 221, 221);
}
.logo span{
    color: var(--main color);
}
.navbar{
    position:relative;
    display:flex;
}
.navbar a{
    font-size: 1rem;
    padding:10px 20px;
    font-weight:500;
    color:var(--text-color)
}
.navbar a:hover{
    color: var(--main-color)
}
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.home{
    width: 100%;
    min-height: 100vh;
    background-image: url('manu.png');
    background-repeat: no-repeat;
    background-size: 500px  600px;
    background-position:right;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.home-text h1{
    font-size: 2.7rem;
}
.home-text p{
    font-size: 0.938rem;
    margin:0.4rem 0 1.8rem;
}
.home-text span{
    color: var(--main-color);
}
.btn{
    padding:10px 14px ;
    background: var (--main-color);
    color:black;
    border-radius: 0.3rem;
    font-size: 14px;
}
.btn{
    padding: 10px 14px;
    background: var(--main-color);
    color:aliceblue;
    border-radius: 0.3;
    font-size:14px
}
.btn:hover{
    background: #8fc53d;
}
.box span{
    font-size:1.1rem;
    font-weight:500;
    padding-left:12px;
    color: var(--main-color);
}
.center-text{
    text-align: center;
}
.center-text h1{
    font: size 100px;
    font-weight:700;
}
.n-content .row .row-img{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    align-items: center;
    gap: 1.5rem;
    margin-top:4rem;
}
