*{
    margin:0;
    padding:0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    
}
:root{
    --text-color:rgb(13, 9, 9);
    --main-color:green;
}
section{
    padding:50px 10px;
}
header{
    position:fixed;
    text-decoration: none;
    width:100%;
    top:0;
    right:0;
    z-index:1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    background: black;
}
header h2{
    color: white;
}
h6{
    font-size: 15px;
}
.stars i{
    color: goldenrod; 
}

.logo span{
    color: var(--main color);
}
.icon i{
    padding: 0 8px;
    color: white;
}
.navbar{
    position:relative;
    display:flex;
}
.navbar a{
    font-size: 1.1rem;
    padding:10px 15px;
    font-weight:500;
    color:white
}
.navbar a:hover,
.navbar i:hover,
.navbar a.active,
.navbar i.active{
    color: var(--main-color)
}
.navbar 
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.home{
    width: 100%;
    min-height: 100vh;
    background-image: url('./images/manu.png');
    background-repeat: no-repeat;
    background-size: 500px  600px;
    background-position:right;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.home-text{
    padding-left: 100px;
    margin-top: 100px
}   
.home-text h1{
    font-size: 2.7rem;
}
.home-text p{
    font-size: 1rem;
    margin:0.4rem 0 1.8rem;
}
.home-text span{
    color: var(--main-color);
}
.btn{
    padding: 10px 37px;
    background: var(--main-color);
    color:aliceblue;
    border-radius: 0.3;
    font-size:14px
}
.btn:hover{
    background: #8fc53d;
}
.box span{
    font-size:1.1rem;
    font-weight:500;
    padding-left:12px;
    color: var(--main-color);
}
.center-text{
    text-align: center;
    padding: 50px 10px;
}
.center-text h1{
    font-size: 3rem;
    font-weight:700;
    border-bottom: 2px solid green; 
    display: inline-block; 
    padding-bottom: 5px; 
}
.divider {
    border-top: 2px solid green; /* Adjust the color and thickness of the line as needed */
    margin-top: 50px; /* Adjust the spacing above the line as needed */
    margin-bottom: 50px; /* Adjust the spacing below the line as needed */
    box-shadow:#8fc53d;
}
.n-content{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    align-items: center;
    gap: 1.5rem;
    margin-top:4rem;
}

.row h3{
    padding-left: 100px;
}
.row-image{
    overflow: hidden;
    border-radius: 0.3rem;
    margin-bottom: 15px;
    padding: 10px 14% 10px;
}
.row-image img{
    display: block;
    width: 80%;
    object-fit: cover;
    transition: transform 0.3s;
    cursor: pointer;
}
.row-image img:hover{
    transform: scale(1.1);
}
.row-in .row-left .row-right{
    padding: 10px;
}
.stars{
    display: flex;
    padding-left: 100px;
}
.row-in .row-left a{
    font-size: 1.1rem;
    padding-left: 100px;
}
.row-in .row-right h6{
    padding-left: 100px;
}
.feature{
    padding: 10px 7% 10px;
}
.feature-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    gap: 1.5rem;
    align-items: center;
    margin-top: 4rem;
}
.box{
    padding: 15px 15px 15px 30px;
    border-left: 4px solid var(--main-color);
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    justify-content: space-between;
    gap: 30px;
}
.f-icon i{
    font-size: 2rem;
}
.f-text h3{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 5px;
}
.f-text p{
    font-size: 15px;
    font-weight: 500;
    color: grey;
    line-height: 30px;
}
.box:hover{
    transform: translateY(-10px);
    cursor: pointer;
}

.selling-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    gap: 1.5rem;
    align-items: center;
    margin-top: 4rem;
}
.col{
    position: relative;
    transition: all .6s
}
.col-img img{
    display: block;
    width: 80%;
    object-fit: cover;
    transition: transform 0.3s;
    cursor: pointer;
    padding-left: 60px;
}
.col-img img:hover{
    transform: scale(1.1);
}
.col-icon{
    position: absolute;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
}
.col-icon a{
    display: block;
}
.col-icon i{
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    display: inline-flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .6s;
}
.col:hover .col-icon i{
    opacity: 1;
    transform: rotate3d(0,0,1,360deg) scale(1.03);
}

.newsletter-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    align-items: center;
    background: black;
    padding: 60px 70px;
    border-radius: 28px;
}
.newsletter-text h2{
    color: white;
    font-size: 2.5rem;
    font-weight: 800;
}
.newsletter-text p{
    color: white;
    font-size: 1.1rem;
    margin: 1.5rem 0 2.5rem;
}
.newsletter-content form{
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    gap: 1rem;
}
.newsletter-content form input:first-child{
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    outline: none;
}
.newsletter-content form input:last-child{
    border-radius: 0.3rem ;
    padding: 15px 20px;
    cursor: pointer; 
}
.newsletter-content form input:last-child:hover{
    background: var(--main-color);
}
.footer{
    padding: 50px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    gap: 2rem;
}
.footer-box{
    display: flex;
    flex-direction: column;
}
.footer-box h3{
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
.footer-box a{
    font-size: 1.1rem;
    color: grey;
    margin-bottom: 1.5rem;
}
.footer-box a:hover{
    color: var(--main-color);
}
.social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: var(--main-color);
    color: white;
    border-radius: 10px;
    margin-right: 14px;
    transition: all .3s;
}
.social a:hover{
    background: #8fc53d;
}
.copyright{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 7% 20px;
}
.end-text{
    font-size: 1.1rem;
    color: grey;
}